.cls-1 {
	fill: #a3e5ff;
	stroke: #a3e5ff;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
	stroke-miterlimit: 10;
	transform-origin: center;
	transform-box: fill-box;
	transition: transform 0.3s;
}

.cls-2 {
	fill: #d712f5;
	stroke: #d712f5;
}

.cls-3 {
	stroke: #000;
}

.cls-3,
.cls-4 {
	fill: #ffce0a;
}

.cls-4 {
	stroke: #ffce0a;
}

.cls-5 {
	fill: #d1deb9;
	stroke: #d1deb9;
}

.cls-1:hover {
	filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
	opacity: 0.8;
	transform-origin: center;
	z-index: 999;
	transform-box: fill-box;
}

.cls-2:hover {
	filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
	opacity: 0.8;
	transform-origin: center;
	z-index: 999;
	transform-box: fill-box;
}
.cls-3:hover {
	filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
	opacity: 0.8;
	transform-origin: center;
	z-index: 999;
	transform-box: fill-box;
}
.cls-4:hover {
	filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
	opacity: 0.8;
	transform-origin: center;
	z-index: 999;
	transform-box: fill-box;
}
.cls-5:hover {
	filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
	opacity: 0.8;
	transform-origin: center;
	z-index: 999;
	transform-box: fill-box;
}
svg {
	padding-top: 100px;
}
