body {
	margin: 0;
}

.text-homepage {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    margin-top: 0;
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 50px 20%; 
}

.text-content {
    width: 45%;
    z-index: 2;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-gegevens {
  text-align: left;
}
.bereikbaar {
  text-align: right;
}
.pagina-gegevens ul {
  display: flex;
  justify-content: center;
}
 
.pagina-gegevens a {
  padding: 20px;
}
.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media p {
  padding: 10px;
  background-color: grey;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .text-homepage {
        justify-content: center;
        padding: 40px 20px;
    }

    .text-content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.85); 
        padding: 20px;
        border-radius: 15px;
    }
}