body {
	margin: 0;
}

.text-homepage {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding: 80px 10%;
	overflow: hidden;
}

.bg-ellipse {
	position: absolute;
	top: 0;
	left: -10%;
	width: 120%;
	height: 85%;
	background: #ffc629;
	border-radius: 0 0 50% 50%;
	z-index: -1;
}

.homepage-img {
	border-radius: 15px;
	z-index: 1;
	mask-image: url("assets/ellipse-7.svg");
	mask-repeat: no-repeat;
}

.text-content {
	width: 45%;
	z-index: 1;
}

/*Responsive*/
@media screen and (max-width: 768px) {
	.text-homepage {
		flex-direction: column;
		padding: 40px 20px;
		gap: 30px;
	}

	.homepage-img {
		width: 100%;
	}

	.text-content {
		width: 100%;
	}

	.bg-ellipse {
		width: 1200px;
		height: 800px;
		right: -500px;
	}
}
