body {
    margin: 0;
}

.text-homepage {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    margin-top: 0;
    background-size: cover; 
    background-position: top left;
    background-repeat: no-repeat;
    
    padding: 50px 10%; 
}

.text-content {
    width: 45%;
    z-index: 2;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .text-homepage {
        justify-content: center;
        padding: 40px 20px;
    }

    .text-content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.85); 
        padding: 20px;
        border-radius: 15px;
    }
}