html, body {
  margin: 0;
  padding: 0;
}

.nav {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.nav img {
  width: 150px;
  display: block;
  margin: 0;
}

.nav #home {
  margin-left: auto;
}

.nav #zinvol  { background-color: #F7F4D5; }
.nav #ecologie { background-color: #d1deb9; }
.nav #armoede  { background-color: #A3E5FF; }
.nav #begraven { background-color: #d712f5; }
.nav #archief  { background-color: #DF5151; }

.nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #000;
  white-space: nowrap;
}

.nav #home{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav #archief{
  border-bottom-right-radius: 5px;
}

.nav a:hover {
  background-color: #ddd;
}

.logo{
  padding: 0;
  margin: 0;
  display: flex;
}

.logo a{
  padding: 5px 25px;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .logo a {
    padding: 15px;
  }

  .nav #home {
    margin-left: 0;
  }

  .nav a {
    width: 100%; 
    border-radius: 0 !important;
    white-space: normal;
  }
}