* { box-sizing: border-box; }

.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mySlides {
  position: relative;
  width: 100%;
}

.mySlides img {
  display: block;
  width: 100%;
}

.rect-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 38%;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.rect-slider svg {
  height: 100%;
  width: 100%;
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35% !important;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 6;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.dot-container {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  text-align: center;
  z-index: 10;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to   { opacity: 1;   }
}

.slider-content {
  position: absolute;
  top: 70% !important;
  left: 5%; 
  transform: translateY(-50%); 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left;
  z-index: 5;
  width: 25%; 
}

.slider-content h2 {
  font-size: 34px; 
  margin: 0 0 10px 0;
  font-family: 'Neutra', sans-serif;
  color: #000; 
  line-height: 1.1;
}

.slider-content p {
  font-size: 18px;
  margin: 0 0 25px 0;
  color: #000; /* Zwarte letters */
  font-weight: 500;
  line-height: 1.4;
}

.btn-ontdek {
  display: inline-block;
  padding: 12px 28px;
  color: #000; 
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px; 
  
  background-color: rgba(0, 0, 0, 0.08); 
  transition: all 0.3s ease;
}

.btn-ontdek:hover {
  background-color: rgba(0, 0, 0, 0.15); /* Wordt ietsje donkerder als je erover muist */
  transform: scale(1.03); 
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .rect-slider {
    width: 85%; /* Op een gsm moet de SVG veel breder zijn om alle tekst te omvatten */
  }
  
  .slider-content {
    width: 75%; 
    left: 8%;
  }
  
  .slider-content h2 {
    font-size: 32px;
  }
  
  .slider-content p {
    font-size: 16px;
  }

  .btn-ontdek {
    font-size: 14px;
    padding: 10px 20px;
  }
}