.armoede-content {
	display: flex;
	flex-direction: column;
}

.armoede-text1,
.quote,
.armoede-text2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.armoede-text1,
.armoede-text2 {
	width: 40%;
}
.quote {
	flex-direction: row-reverse;
}

/*
.armoede-text2 {
	padding: 30px 50px 50px 30px;
	border-radius: 20px;
	background-color: #a3e5ff;
}
*/
