.aanmoediging {
  display: flex;
  justify-content: space-between;
}
.container1 {
  display: flex;
  flex-direction: row-reverse;
}
 
.container2 {
  display: flex;
  flex-direction: row-reverse;
}
.text-armoede,
.text2-armoede {
  display: flex;
  flex-direction: column;
  width: 40%;
}
 
.text2-armoede {
  padding: 30px 50px 50px 30px;
  border-radius: 20px;
  background-color: #a3e5ff;
}